 body{

background: linear-gradient(180deg,#0a0015,#000);

font-family:'Orbitron', sans-serif;

color:white;

margin:0;

}

.container{

max-width:800px;

margin:auto;

padding:40px;

}

header{

text-align:center;

margin-bottom:40px;

}

.foto{

width:150px;

height:150px;

border-radius:50%;

border:3px solid #ff00cc;

box-shadow:

0 0 15px #ff00cc,

0 0 30px #7b00ff;

margin-bottom:15px;

}

h1{

color:#ff2bd6;

font-size:40px;

text-shadow:

0 0 10px #ff2bd6,

0 0 20px #7b00ff;

}

.headline{

color:#c47cff;

margin-bottom:20px;

}

.links a{

text-decoration:none;

margin:10px;

padding:10px 20px;

border-radius:8px;

background:linear-gradient(45deg,#ff00cc,#7b00ff);

color:white;

transition:0.3s;

}

.links a:hover{

transform:scale(1.1);

box-shadow:

0 0 10px #ff00cc,

0 0 20px #7b00ff;

}

section{

margin-top:30px;

}

h2{

color:#ff00cc;

border-bottom:1px solid #7b00ff;

padding-bottom:5px;

}

ul{

padding-left:20px;

}

footer{

text-align:center;

margin-top:40px;

color:#888;

}
.projects li{

background:#0c0015;

margin:15px 0;

padding:20px;

border-radius:10px;

border:1px solid #7b00ff;

transition:0.3s;

}

.projects a{

text-decoration:none;

color:white;

display:block;

}

.projects li:hover{

transform:scale(1.03);

box-shadow:

0 0 15px #ff00cc,

0 0 30px #7b00ff;

}

.certificados{

display:flex;
gap:20px;
flex-wrap:wrap;

}

.card{

background:#141432;

padding:20px;

border-radius:10px;

text-decoration:none;

color:white;

transition:0.3s;

border:1px solid #7b00ff;

}

.card:hover{

transform:translateY(-5px);

box-shadow:0 0 20px #7b00ff;

}

.voltar{

display:inline-block;
margin-top:30px;

text-decoration:none;

color:#ff2bd6;

}









